<%- include('partials/header',{pageTitle: "Home"}) %>
    <h1>Index</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur non maxime optio vitae nostrum, necessitatibus illum molestias esse magnam quibusdam obcaecati, adipisci eos perferendis vero earum quos rem, ratione sit!</p>
<%- include('partials/footer')%>
