<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <nav>
            <menu class="header-container">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="about-us">About Us</a>
                </li>
                <li>
                    <a href="contact">Contact Us</a>
                </li>
            </menu>
        </nav>
    </header>
    <div class="main-container">
        <main>